<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dominik.ukf_app">

    <!-- this is the internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityOrientacia"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityOrientaciaBudova"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityPodmienkyPrijatia"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityStudentskyZivot"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityStudentskyZivotDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityMoznostiStudiaMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityMoznostiStudiaDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityMoznostiStudiaStudijnyProgram"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".calendar.ActivityCalendar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".calendar.ActivityEventList"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".calendar.ActivityEventDetail"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>